<div class="row panel panel-default">
    <div class="panel-body">
        <form enctype="multipart/form-data">
            <label class="col-lg-2 col-md-2 col-sm-1 col-xs-1" for="file_uploader"><span class="glyphicon glyphicon-plus-sign"></span></label>
            <label id="upload_status">No file chosen.</label>
            <input type="file" id="file_uploader" name="file" class="btn btn-default" style="display: none"/>
            <button class="btn pull-right" onclick="event.preventDefault(); GetSlides.uploadPdf();" style="display: none" id="upload_btn">Submit</button>
        </form>
       
    </div>
</div>
    <div class="row" data-bind="foreach: presentations">
    <div class="col-xs-12 col-md-4 col-sm-3 col-lg-2">
        <a data-bind="attr: { href: '/#/present/' + id() +'/'}" class="thumbnail">
            <img data-bind="attr: { src: picture }" alt="...">
        </a>
        <div class="caption">
            <h3 data-bind="text: name"></h3>
        </div>
    </div>
</div>