<div>
    <canvas id="canvas"></canvas>

    <div class="row">
        <button onclick="GetSlides.pdfViewer.prevPage()" id="prev" type="button" class="btn col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-2 col-sm-2 col-xs-2 col-md-2">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <span class="col-lg-1 col-sm-1 col-xs-1 col-md-1 "></span>
        <button onclick="GetSlides.pdfViewer.stop()" id="stop" type="button" class="btn col-lg-2 col-sm-2 col-xs-2 col-md-2">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </button>
        <span class="col-lg-1 col-sm-1 col-xs-1 col-md-1"></span>
        <button onclick="GetSlides.pdfViewer.nextPage()" id="next" type="button" class="btn col-lg-2 col-sm-2 col-xs-2 col-md-2">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
        <span class="col-lg-1 col-sm-1 col-xs-1 col-md-1"></span>
        <span class="col-lg-1 col-sm-1 col-xs-1 col-md-1" id="pageNum">0/0</span>
    </div>
</div>
