<h1>Present view</h1>
<canvas id="the-canvas">

</canvas>
<script src="../../../Scripts/pdf.js"></script>
<script src="../../../Scripts/Source/WebSockets.js"></script>
<script>
   
</script>
<!--<p>Insert id number: <input onchange="pk()" id="presentationKey"/></p>
<button onclick="testWebSocket()">Start!</button>
<p>Message to send: <input id="wsMessage" onchange="websocket.send($('#wsMessage').val())" /></p>
<button onclick="onClose()">Stop!</button>

<h2>WebSocket Test</h2>
<div id="output"></div>
    -->