@media (min-width: 480px) {
    .presentation-container {
        margin-right: 20px;
        margin-left: 20px;
        margin-top:30px;
    }
}
@media (max-width: 480px) {
    .presentation-container {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
    }
}

body {
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
}

.login-form {
    display:block;
    width:80%;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    //background-color: #1abc9c;
}
    .login-form input,.login-form button,.login-form h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 200px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    .login-form img {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 100%;
        max-width: 380px;
    }
    .login-form h1 {
        text-align:center;
        margin-top:0;
        font-style: oblique;
        color:#34495e
    }
    .login-form button {
        background-color:#34495e;
        background-image: none;
        color:whitesmoke;
        text-shadow:none;

    }
        .login-form button:hover {
            background-image:none;
            background-color:#95a5a6;
            color:whitesmoke;
            text-shadow:none;
        }
    .login-form #email-error {
        display: block;
        text-align:center;
        position:relative;
        padding: 5px;
        margin-left:auto;
        margin-right:auto;
    }

.login-footer{
    position:relative;
    width: 100%;
    bottom: 0;
    height: 20px;
}
    .login-footer a:first-of-type {
        float:left;
        margin-left: 10px;
    }
    .login-footer a {
        float:right;
        margin-right: 10px;
    }


