
<div class="row" data-bind="foreach: UserPresentations">
        <div class="col-xs-12 col-md-4">
            <a href="" class="thumbnail">
                <img data-src="U" alt="...">
            </a>
            <div class="caption">
                <h3 data-bind="text: Name"></h3>
                <!--
                Treba vidjeti oko loadanja stranice.
                <p data-bind="text: Info"></p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Present</a>
                </p>
                -->
            </div>
        </div>
</div>
<script src="../../Scripts/App.js"></script>