<div class="alert-info alert presentation_upload">  
    <label for="file_uploader" class="btn btn-default btn-primary">Browse</label>
    <label id="upload_status">No file chosen.</label>
    <input type="file" id="file_uploader" name="file" class="btn btn-default" style="display:none" />
    <button class="btn btn-default btn-primary" style="display:block" id="upload_btn">Submit</button>
</div>
<div id="UserPresentationContainer" class="row" data-bind="foreach: UserPresentations">
    <div class="col-xs-12 col-md-4">
        <a href="" class="thumbnail">
            <img data-src="U" alt="...">
        </a>
        <div class="caption">
            <h3 data-bind="text: Name"></h3>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $("#file_uploader").change(function () {
        var newText = $("#file_uploader").val();
        newText = newText.split("\\")[2];
        if (newText.indexOf('.pdf') >= 0)
            $("#upload_status").text(newText);
        else
        {
            $("#upload_status").text("Error: The format is not supported.");
        }
    });
    $("#upload_btn").click(function () {
        
        var formData = new FormData($('form')[0]);
        var newText = $("#file_uploader").val().split("\\")[2];
        //alert(newText);
        $.ajax({
            url: 'https://localhost:44301/api/Presentation',
            type: 'POST',
            data: {fileName : newText},
            cache: false,
            contentType: 'application/json; charset=utf-8',
            crossDomain: true,
            success: function (response) {
                alert(response);
            }
        });
    });
</script>