<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GetSlidesDBEntities" connectionString="metadata=res://*/GetSlidesModel.csdl|res://*/GetSlidesModel.ssdl|res://*/GetSlidesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPPY\SQLEXPRESS;initial catalog=GetSlidesDB;integrated security=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>