<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form class="login-form" novalidate="novalidate">
        <h1>Login</h1>
        <div class="form-group">
            <input type="text" placeholder="Username" class="form-control" id="username" name="username" />
            <input type="password" placeholder="Enter password" class="form-control" id="password" name="password" />
        </div>
        <button type="button" class="btn btn-default btn-block" onclick=" GetSlides.login($('#username').val(), $('#password').val());">Login</button>
    </form>
</body>
</html>
