<div class="jumbotron">
    <h1>Hello, <a href="#/Account" class="navbar-link" data-bind="text: ThisUser.UserName" id="usernamePlaceholder"></a></h1>
    <p>To watch a presentation insert a presentation key:</p>
    <input id="presentationKeyInput" onchange="pk()"/>
    <br />
    <br />
    <p><a class="btn btn-primary btn-lg" href="#" onclick="testWebSocket()" role="button">Watch!</a></p>
</div>
<script>
    var wsUri = "ws://localhost:6316/api/ws/watch?user=drugibrate&data=";
    var output;

    function init() {
        output = document.getElementById("output");
    }
    function pk() {
        wsUri = wsUri + $('#presentationKeyInput').val();
    }
    function testWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) { onOpen(evt) };
        websocket.onclose = function (evt) { onClose(evt) };
        websocket.onmessage = function (evt) { onMessage(evt) };
        websocket.onerror = function (evt) { onError(evt) };
    }
    function onOpen(evt) {
        console.log("CONNECTED");
        doSend($('#presentationKey').val());
    }
    function onClose(evt) {
        console.log("DISCONNECTED");
    }
    function onMessage(evt) {
        console.log('RESPONSE: ' + evt.data);
    }
    function onError(evt) {
        console.log(evt.data);
    }
    function doSend(message) {
        console.log("SENT: " + message);
        websocket.send(message);
    }

    window.addEventListener("load", init, false);
</script>